{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="row">
  {% for page in pages %}
  <div class="col-sm-3">
    <div class="page-well well">
      <div class="path">{{ page }}</div>
      <div class="img">
      </div>
      {{ page.stale_tests }}/{{ page.pagetest_set.count }} Stale Tests
      <a href="{% url "page_action" "test" page.pk %}" class="btn btn-success btn-block">Test All</a>
      <a href="{% url "page_detail" page.pk %}" class="btn btn-primary btn-block">View Page</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
